.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.header-form {
  padding-top: 20px;
  padding-bottom: 40px;
}

.header-form input {
  padding: 10px 20px;
  width: 30%;
}

.header-form button {
  padding: 10px 20px;
  margin-left: 30px;
  cursor: pointer;
}

.content {
  display: flex;
}

.search-result, .my-list {
  width: 50%;
}

